SERMONSHOTS_API_URL=https://staging.api.sermonshots.com/api/v1
CHROMADB_HOST=http://localhost
CHROMADB_PORT=8000

DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=sermonseek

REDIS_HOST=localhost
REDIS_PORT=6379

ASSEMBLYAI_API_KEY=
OPENAI_API_KEY=